# Dependencies
node_modules/

# Prisma
/backend/prisma/*.db
/backend/prisma/migrations/

# Environment variables
.env
backend/.env
backend/.env.local
backend/.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
