# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Coverage reports
coverage/
*.lcov

# Build directories
build/
dist/

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.tgz
